In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
def fun_ticketGeneration(df,CandidateSet,expectedNumberOfTickets): # expectedNumberOfTickets is input by users
    df1=df[df['NumberOfSolution']==CandidateSet[expectedNumberOfTickets-1]]
    df1=df1.reset_index(drop=True)
    random_numbers = random.sample(range(1, 50), 49)
    S1=[]
    for i in range(len(df1)):
        temp=np.zeros(6)
        temp[0]=(int)(random_numbers[df1['S1'][i]-1])
        temp[1]=random_numbers[df1['S2'][i]-1]
        temp[2]=random_numbers[df1['S3'][i]-1]
        temp[3]=random_numbers[df1['S4'][i]-1]
        temp[4]=random_numbers[df1['S5'][i]-1]
        temp[5]=random_numbers[df1['S6'][i]-1]
        S1.append(temp)
    re=pd.DataFrame(S1)
    return re

In [3]:
df=pd.read_excel('Lottery.xlsx')

In [5]:
CandidateSet=df['NumberOfSolution'].unique()
print(CandidateSet)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70]

In [7]:
expectedNumberOfTickets=7  #1-70
re22=fun_ticketGeneration(df,CandidateSet,expectedNumberOfTickets)
re22

      0     1     2     3     4     5
0  37.0  20.0  18.0  12.0  21.0   2.0
1  45.0  16.0  40.0  29.0  38.0  26.0
2  28.0   9.0  25.0  32.0  13.0  43.0
3  10.0  30.0  41.0  35.0  34.0  17.0
4  24.0  23.0   6.0  33.0  49.0  42.0
5  44.0  46.0   3.0  39.0  14.0   4.0
6  15.0   7.0  22.0  47.0  36.0  11.0